/* set the base font size, everything else based on it */
html {
  font-size: 10px;
  position: relative;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  /* footer: https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.footer-penn {
  text-align: center;
  padding: 10px;
  background-color: #cfd0d2;
  color: white;
}

h1 {
  padding: 1.5rem;
  text-align: center;
}

.width {
  max-width: 1000px;
  margin: auto;
}

/* NAVBAR */

.navbar-penn {
  font-size: 1.5rem;
  background-color: #00144d;
}

.logo-penn {
  font-size: 1.5rem;
  margin-top: 2px;
}

.header-penn {}

/* SIDEBAR NAV */
.nav-div-penn {
  border-width: thin;
  border-style: solid;
  border-color: #cfd0d2;
  background: #f2f2f3;
  position: sticky;
  top: 30px;
  margin-top: 65px;
  z-index: 9999;
}

.dropdown-menu {
  font-size: 1.5rem;
}

/* CARDS */
.card-header {
/*  background: #f2f2f3;*/
  font-weight: 600;
}

.card-subtitle {
  margin-top: auto;
  margin-bottom: 5px;;
  padding: 5px;
  background-color: #95001a;
  color: white;
  font-weight: 700;
}

/* ACCORDION */
.btn-penn {
  font-size: 1.5rem;
  text-align: left;
}

.accordion .fa {
  margin-right: 0.5rem;
}

/* TABLE PROPERTIES */

.table-penn, .table-penn td, .table-penn th, .table-penn tr {
  border: 1px solid black;
}

.table-responsive {
  width: 100%;
}

.tr-penn {
  background: #95001a;
  color: white;
  text-align: center;
}

.tr-penn strong {
  font-weight: ;
}

tr th {
  font-weight: 700;
}

tr th i {
  font-weight: 400;
}

.thead-penn {
  background: #00144d;
  color: white;
}

.table-subtext {
  font-size: 1.25rem;
}

.minor {
  background: green;
  color: white;
}

.critical {
  background: orange;
  color: white;
}

.unavailable {
  background: red;
  color: white;
}

.inclusion {
  background: #C6EFCE;
  color: #006100;
}

.exclusion {
  background: #FFC7CE;
  color: #9C0006;
}

.table-subtext-table .btn {
  font-size: 1.25rem;
}

/* https://www.codeply.com/go/Ep9T1ItZrb/bootstrap-4-collapse-card-plus-minus-icons */
.table-subtext-table .btn::before {
  font-family: "FontAwesome";  
  content: "\f068";
  float: left;
  margin-right: 5px;
}

.table-subtext-table .btn.collapsed::before {
  content: "\f067";
}

/* media queries for small devices */
@media (max-width: 992px) {
  .nav-div-penn {
    margin-top: 15px;
  }
  
  .nav-penn {}
  
  /* todo: how wide for small devices? */
  .container {
    max-width: 600px;
  }
}