/* set the base font size, everything else based on it */
html {
  font-size: 10px;
  position: relative;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  /* footer: https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.footer-penn {
  text-align: center;
  padding: 10px;
  background-color: #cfd0d2;
  color: white;
}

h1 {
  padding: 1.5rem;
  text-align: center;
}

.width {
  max-width: 1000px;
  margin: auto;
}

/* NAVBAR */
.navbar-penn {
  font-size: 1.5rem;
  background-color: #00144d;
  color: white;
}

.logo-penn {
  font-size: 1.5rem;
}

.header-penn {}

/* SIDEBAR NAV */
.nav-div-penn {
  border-width: thin;
  border-style: solid;
  border-color: #cfd0d2;
  background: #f2f2f3;
  position: sticky;
  top: 30px;
  margin-top: 65px;
  z-index: 9999;
}

.dropdown-menu {
  font-size: 1.5rem;
}

/* ACCORDION */
.btn-penn {
  font-size: 1.5rem;
}

.accordion .fa {
  margin-right: 0.5rem;
}

/* TABLE PROPERTIES */

.table-penn td {}

.tr-penn {
  background: #95001a;
  color: white;
  text-align: center;
}

.tr-penn strong {
  font-weight: ;
}

tr th {
  font-weight: 700;
}

tr th i {
  font-weight: 400;
}

.thead-penn {
  background: #01256e;
  color: white;
}

.table-subtext {
  font-size: 1.25rem;
}
/* media queries for small devices */
@media (max-width: 992px) {
  .nav-div-penn {
    margin-top: 15px;
  }

  .nav-penn {}
}