html {
    -webkit-text-size-adjust: 100%;
}

/* default color, font for the body */
body {
	background-color: lavender;
	font-family: 'Muli', serif;
	line-height: 1.5;
	padding-left: 25px;
	padding-right: 25px;
  font-weight: 300;
}

/* This class defines the container storing the flexboxes */
.flex-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}

h1, h2, h3 {
	color: #191970;
  font-weight: 600;
}

.width {
	max-width: 600px;
	margin: auto;
}

.center {
	display: block;
	margin: auto;
}

/* https://www.youtube.com/embed/JjrKTedZdTw */

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin-bottom: 15px;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}