html {
    -webkit-text-size-adjust: 100%;
}

/* default color, font for the body */
body {
	background-color: lavender;
	font-family: 'Muli', serif;
	line-height: 1.5;
	padding-left: 25px;
	padding-right: 25px;
  font-weight: 300;
}

/* This class defines the container storing the flexboxes */
.flex-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}

h1, h2, h3 {
	color: #191970;
  font-weight: 600;
}

.width {
	max-width: 600px;
	margin: auto;
}

.center {
	display: block;
	margin: auto;
}
hr {
	
}

hr {
	
}
